{% extends 'base/base_formulario.html' %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
    <p>Hola mundo con Macro</p>


    <form name="Login" id="LoginForm" action="/login" method="post" >
        <!-- el campo csrf_token ya esta por default definido por la libreria-->
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

    <div class="login">
    <div class="login-screen">

    <div class="app-title">
    <h1>Login</h1>
    </div>

    <div class="login-form">
    <div class="control-group">

    {% from "_macroform.html" import render_field %}
    {{ render_field( form.username, class="form-control", class="login-field", placeholder="username") }}

    </div>
         <div class="control-group">
    {{ render_field( form.password,  class="form-control", class="login-field", placeholder="password") }}
    {{form.honeypot}}
    <!-- Para ver el error, pero este campo va oculto
    {{ render_field( form.honeypot, class="form-control" ) }}
    -->
</div>
     <p></p>


    </div>
    </div>
    </div>

        <input type="submit" value="Log in" class="btn btn-primary btn-large btn-block">
    </form>

{% endblock %}
